@font-face {
    font-family: "magic-school";
    src: url("../font/magic-school.one.ttf");
}
@font-face {
    font-family: "dumbendor";
    src: url("../font/dumbledor/dum2/dum2out.ttf");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}